In [1]:
L=[1，2，3，5]

SyntaxError: invalid character in identifier (<ipython-input-1-fe4b5cc2acd3>, line 1)

In [ ]:
for i in L:
    print k in L:
         print j in L:
                for n in L:
                    if (i!=k) and (i!=k) and

In [2]:
def fib(n):
    if n==1:
        return 1
    if n == 2:
        return 2
    fibList=[1,1]
    for i in range(2,n):
        fibList.append(fibList[i-2]+fibList[i-1])
    return sum(fibList)
fib(20)

17710

In [4]:
def suShu(n):
    for i in range(2,n):
        if n%i==0:
            return 0
    return 1
def ouShu(n):
    if (n//100+n//10+n//1)%2==0:
        return 1
    return 0

for i in range(2,201):
    if suShu(i)==1 and ouShu(i)==1:
        print(i)

2
11
13
17
19
31
37
53
59
71
73
79
97
101
103
107
109
127
149
163
167
181

In [3]:
bList = [5,6,7,8]

In [4]:
aList = [1,2,3,4]

In [5]:
import numpy as np

In [7]:
aArray=np.array(aList)

In [8]:
bArray=np.array(bList)

In [12]:
aArray+bArray

array([ 6,  8, 10, 12])

In [13]:
import pandas as pd

In [15]:
pd.Series(aArray)

0    1
1    2
2    3
3    4
dtype: int32

In [20]:
pd.concat([pd.Series(aArray,)])

0    1
1    2
2    3
3    4
dtype: int32

In [23]:
pd.concat?

In [25]:
# EnglishName/Birthday/Sex/

In [24]:
d = {'one':pd.Series([1.,2.,3.], index=['a','b','c']),'two': pd.Series([1.,2., 3., 4.], index=['a','b','c','d'])}
df = pd= pd.DataFrame(d).

SyntaxError: invalid syntax (<ipython-input-24-15c4e41e215e>, line 2)

In [32]:
pd.DataFrame({'Brai':[701,'Male'],'Sandy':[1117,'male'],
              'Lei':[807,'Female']}, index=['Birthday','Sex'])

          Brai     Lei Sandy
Birthday   701     807  1117
Sex       Male  Female  male